/*.navbar-brand {
  margin-right: 0;
}*/

.bslib-sidebar-layout>.main {
    /*background-color: gray;*/
    padding: 0rem;
    margin-top: 5px;*/
}

.bslib-sidebar-layout>.collapse-toggle {
    top: 28rem;
    bottom: auto;
}

